[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "colors/solarized"]
	path = colors/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "colors/tomorrow-theme"]
	path = colors/tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
