[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "colors/solarized"]
	path = colors/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "colors/tomorrow-theme"]
	path = colors/tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "languages/vim-ruby"]
	path = languages/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "languages/php--Garvin"]
	path = languages/php--Garvin
	url = git://github.com/vim-scripts/php.vim--Garvin.git
[submodule "languages/vim-javascript"]
	path = languages/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "languages/vim-markdown"]
	path = languages/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "colors/jellybeans"]
	path = colors/jellybeans
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "colors/vim-irblack"]
	path = colors/vim-irblack
	url = git://github.com/wgibbs/vim-irblack.git
[submodule "colors/vim-twilight"]
	path = colors/vim-twilight
	url = git://github.com/matthewtodd/vim-twilight.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "colors/vim-github"]
	path = colors/vim-github
	url = https://github.com/croaky/vim-colors-github.git
[submodule "colors/zenburn"]
	path = colors/zenburn
	url = https://github.com/vim-scripts/Zenburn.git
[submodule "bundle/vim-vroom"]
	path = bundle/vim-vroom
	url = git://github.com/skalnik/vim-vroom.git
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = git@github.com:benmills/vimux.git
[submodule "colors/vim-detailed"]
	path = colors/vim-detailed
	url = git@github.com:rking/vim-detailed.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
